<div class="game_data">
  <div class="header">
    <h2 class="title"><%= @game['name'] %></h2>
  </div>
  <div class="body">
    <div>
      <%= image_tag @game['cover_url'], class: 'img-fluid' %>
    </div>
    
  </div>
</div>