<div>
    <h1 class="text-center">Current Popular Games</h1>
    <ul class="row games_list">
    <% @data.each do |game| %>
      <li class="col-5 col-md-3 col-lg-2 game_card">
          <%= link_to game_path(game['id']) do %>
            <%= image_tag game['cover_url'], class: 'img-fluid' %>
            <h3><%= game['name'] %></h3>
          <% end %>
      </li>
    <% end %>
    </ul>
</div>