<div style="text-align: center;">
    <h1>Please wait while we fetch the latest data...</h1><i class="fa fa-spinner fa-pulse"></i>
</div>

<script>
  jQuery(document).ready(function($){
    window.location.href = '<%= games_url %>';
  });
</script>