<div class="search_form">
  <h1 class="text-center">Search Games</h1>
  <div class="row form-group">
      <h6 class="col-4">Search by Name</h6>
      <input type="text" class="col-4 form-control" placeholder="Search by name" id="name_input" />
  </div>
  <div class="row form-group">
      <h6 class="col-4">Search a Platform</h6>
      <select class="col-4 form-control" id="platforms_select">
        <option value="" class="italic">Select One</option>
        <% @platforms_data.each do |platform| %>
          <option value="<%= platform['id'] %>"><%= platform['name'] %></option>
        <% end %>
      </select>
  </div>
  <div>
      <button type="button" id="searchButton" class="btn btn-secondary">
          <span>Search</span>
      </button>
  </div>
</div>

<div class="search_results hidden">
    <h5><span class="found_count"></span> games found!</h5>
    <nav aria-label="Page navigation">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
    </nav>
    
    <ul class="games_list row"></ul>
</div>

<script>
    jQuery(document).ready(function($){
        function search_games(platform, name) {
          $.ajax({
            url: "<%= search_games_path %>",
            type: "GET",
            data: {
              name: encodeURIComponent(name),
              platforms: platform
            },
            success: function (response){
                $('span.found_count').html(response.number_of_total_results);
                $('div.search_form').addClass('hidden');
                $('div.search_results').removeClass('hidden');
                for (var i = 0; i < response.results.length; i++) {
                    var li = build_game_card(response.results[i]);
                    $('ul.games_list').append(li);
                }
            },
            error: function (error){
              
            }
          });
        }
        
        function build_game_card (game) {
            var name = game.name;
            var image_url = game.image.small_url;
            var image_tag = $('<img />').attr('src', image_url).addClass('img-fluid');
            var h3 = $('<h3></h3>').html(name);
            var link = $('<a></a>').attr('href', "<%= get_game_by_name_path %>?name=" + encodeURIComponent(name)).append(image_tag, h3);
            var li = $('<li></li>').append(link).addClass('col-5 col-md-3 col-lg-2 game_card');
            return li;
        }
        
        $('button#searchButton').on('click', function(){
            var platform = $('#platforms_select').val();
            var name = $('#name_input').val();
            if (platform.length > 0 || name.length > 0) {
              search_games(platform, name);
            } else {
              alert('Please select at least 1 filter to search.');
            }
        });
    });
</script>