@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

img {
    max-width: 100%;
}

a,
a:hover {
    color: #444;
    text-decoration: none;
}

a:hover {
    color: #888;
}

ul.games_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.games_list li.game_card {
    border: 1px solid #ccc;
    word-break: break-word;
    text-align: center;
    -webkit-box-shadow: 8px 10px 10px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 8px 10px 10px 0px rgba(0,0,0,0.4);
    box-shadow: 8px 10px 10px 0px rgba(0,0,0,0.4);
    margin: 1%;
    cursor: pointer;
}

a.article_btn {
    width: 100%;
}

img.img-fluid {
    display: block;
    margin: auto;
    max-height: 50vh;
}

div.release_card {
    border: 1px solid #ccc;
    border-radius: 5px;
}

div.game_data {
    text-align: center;
}

video.game_video {
    max-height: 50vh;
}

.desktop_only {
    display: none;
}

.row {
    margin: 0;
}

.italic {
    color: grey;
    font-style: italic;
}

@media only screen and (min-width: 480px) {
    .desktop_only {
        display: initial;
    }
}
